table {
  width: 100%;
  box-shadow: none !important;
}

main {
  height: 100vh;
}
.mat-form-field {
  width: 100%;
/*
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  display: block;
  //margin-top: 1rem;
  */
}
