mat-card {
  text-align: left;
  margin: 30px auto;
  max-width: 500px;
  transition: transform 500ms ease;
  &:hover {
    transform: translateY(-3px);
  }
}
img {
  width: 100%;
}

.border {
  box-shadow: -4px 4px black !important;
  border: 1px solid black !important;
  border-radius: 0px !important;
}

.filter {
  filter: sepia(100%) brightness(50%) saturate(250%) contrast(100%);
  background-color: gold;
}



  //border-radius: 1rem;
  //overflow: hidden;
  .post-hero-div {
    position: relative;
       .post-hero-text {
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.85));
      position: absolute;
      bottom: 0;
      color: #fff;
      width: 100%;
      // margin-block-end: 20px;
      padding: 1rem;
      margin: 0 -1rem 1rem -1rem;
    }
  }



.hero {
  position: relative;
  overflow: hidden;
}
.hero-text {
  position: absolute;
  background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.85));
  bottom: 0;
  color: #fff;
  width: 100%;
  margin-block-end: 20px;
  padding: 1rem;
  margin: 0 -1rem 1rem -1rem;
}
/*
<div *ngIf="posts$ | async as posts; else loading">
  <mat-card class="border hero" post="post" *ngFor="let post of posts" [routerLink]="['/post', post.id]">
    <img class="filter" matPostImage [src]="post.imagePost" />
      <mat-card-header class="hero-text">
        <mat-card-title>{{ post.titlePost }}</mat-card-title>
        <mat-card-subtitle>{{ post.contentPost |  slice:0:100 }}...</mat-card-subtitle>    
      </mat-card-header>
  </mat-card>
</div>
*/